.body div {
    font-family: Neucha-Regular;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .body h4 {
    font-size: 30px;
  }
  .body h5 {
    font-size: 35px;
    /* padding-top: 45px; */
  }
  .body h6 {
    color: gray;
    font-size: 12px;
    padding: 10px 0;
  }
  
  .title__container {
    padding: 35px 0;
    background: rgba(240, 240, 240, 0.632);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    text-align: center;
    font-weight: 300;
    padding: 0 0 10px 0;
  }
  
  .login {
    padding: 50px 0;
  }
  
  .input__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .input__container > div {
    flex-grow: 1;
    width: 300px;
  }
  
  .password {
    margin-top: 10px;
  }
  
  .reg,
  button {
    border: none;
    background-color: transparent;
  }
  .submit_button {
    padding: 10px 0;
    justify-content: center;
  }
  .submit_button > button {
    flex-grow: 1;
    width: 300px;
  }
  .icon {
    position: absolute;
    right: 15px;
    font-size: 25px;
  }
  