.card {
  display: flex;
  padding: 25px 0;
  position: relative;
  border: 1px solid #eeeeee;
}

.small {
  padding: 12px 0;
}

.card > div {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile {
  display: none !important;
}

.card .main {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.main__content {
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 7px;
  color: #000;
}

.category {
  color: #ccc;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.small .img {
  width: 100px;
  height: 100px;
}

.price,
.fullprice {
  font-size: 25px;
  color: #2bbd86;
}

.remove__icon {
  width: 1.5rem;
  fill: #404040;
  cursor: pointer;
}

.icon_ft {
  margin-right: 10px;
}

.small.card .price__wrapper {
  display: none;
}

@media (max-width: 575px) {
  .card {
    flex-direction: column;
  }
  .actions__container {
    margin: 15px 0;
  }
  .img {
    width: 150px;
    height: 150px;
  }

  .card .price__wrapper,
  .card .qty__counter__wrapper,
  .card .fullprice__container {
    display: none;
  }

  .mobile {
    margin-top: 10px;
    display: flex !important;
  }

  .mobile .qty__counter__wrapper,
  .mobile .fullprice__container {
    display: block !important;
  }
  .title {
    padding: 0;
  }

  .remove__icon__wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 400px) {
  .img {
    width: 150px;
    height: 150px;
  }
}
