.container {
  position: fixed;

  width: 100vw;
  top: -70px;
  transition: 0.2s;
  z-index: 100000;
}

.active {
  top: 0;
}

.inner {
  height: 70px;
  padding: 10px 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 2rem;
  margin-right: 15px;
  fill: #404040;
}

.content {
  color: #404040;
  font-weight: lighter;
  font-size: 14px;
}

.error {
  background: #f27474;
}

.success {
  background: #2bbd86;
}

.warning {
  background: #ffee36;
}

.warning::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px) {
  .container {
    right: 0;
  }

  .inner {
    padding: 10px 50px;
  }
}
