.container {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid #e4e4e4;
  height: 200px;
  width: 100%;
  flex-grow: 1;
}

.img {
  width: 200px;
  cursor: pointer;
  object-fit: cover;
}

.main__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.main__content__sm {
  padding: 13px;
}

.info__container {
}

.title {
  cursor: pointer;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main__content__sm .title {
  cursor: pointer;
  font-size: 18px;
}

.main__content__sm .price {
  font-size: 22px;
}

.main__content__sm .img {
  width: 15%;
}

.price {
  color: #2bbd86;
}

.desc {
  font-weight: 300;
  color: #9b9b9b;
  margin-top: 20px;
}

.main__content__sm .desc {
  margin-top: 10px;
}

.actions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
