.container {
  min-height: 100vh;
}

.title__container {
  padding: 35px 0;
  background: rgba(240, 240, 240, 0.632);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: 300;
  padding: 0 0 10px 0;
}
.bread__crumbs {
  width: 1rem;
  fill: #acacac;
  vertical-align: -0.1em;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.tab {
  list-style: none;
  padding: 8px 25px;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.tab__active {
  background: #2bbd86;
  color: #fff;
}

.tab__panel {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.order__header {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background: #2bbd86;
  margin-top: 20px;
}

.order__header span {
  flex: 1;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.products__container {
  margin-top: 10px;
}

.products__header {
  display: flex;
  padding: 15px 0;
  background: #019682;
}

.products__header span {
  flex: 1;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.products__header span:first-child {
  flex: 2;
}
.section {
  margin-top: 10px;
}

.section h3 {
  text-align: center;
  font-size: 2rem;
}
.news__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.create__container {
  padding: 10px 0;
}

.add__more__icon {
  margin-right: 5px;
  fill: white;
  width: 1rem;
  vertical-align: -0.125em;
}

.add__button {
  margin: 20px 20px 0 0;
}

.add__category__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add__category__input__container {
  flex: 1;
  margin-right: 5%;
}

.add__category__select__container {
  flex: 1;
}

.add__category__input {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.category__container {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebebeb;
}

.category {
  flex-basis: 50%;
  text-align: center;
}

.logout__button {
  margin-left: 5px;
}

.logout__icon {
  margin-right: 7px;
  fill: white;
  width: 1rem;
  vertical-align: -0.125em;
}

.form {
  margin-bottom: 30px;
}

.not__read__message {
  background: #2bbd8620;
}

.message {
  cursor: pointer;
}

@media (max-width: 575px) {
  .order__header {
    display: none;
  }
  .tab {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 380px) {
  .logout__button {
    margin: 20px 0;
  }
  .add__button {
    margin-bottom: 10px;
  }
}
